@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
:root {
  --dark-bg: #1f2937;
  --light-text: #f9faf8;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Layout */
.site-header, .site-footer, .site-intro {
  background-color: var(--dark-bg);
  color: var(--light-text);
  display: flex;
}
.site-header {
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 144px;
}
.site-logo {
  height: 100%;
  content: url("images/teto-icon.webp");
}
.site-header ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
}
.site-intro {
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  height: 500px;
}
.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 100%;
}
.intro-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.intro-title span {
  color: indianred;
}
.intro-text {
  width: 80%;
  align-self: center;
  font-size: 18px;
  text-align: justify;
  line-height: 150%;
}
.teto-banner {
  height: 100%;
  content: url("images/teto-banner.webp");
}

.buttons {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 48px;
  margin: 0 auto;
}

.buttons button {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color:#1f2937
}